body{
    background-color: $square-color;
    color: $bar-color;
}
a{
    color: $bar-color;
    &:hover{
        color: lighten($bar-color, 20%);
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
//features
a[ng-click]{
    cursor: pointer;
}




input{
    color: $bar-color;
    background-color: $square-color;
}

.controls{
    ul{
        list-style-type: none;

    }
    li{
        float: left;
        padding-right: 8px;
        a{
            font-size: 23px;
        }
    }
}

.btn-primary {
  color: $square-color;
  background-color: $btn-primary;
  border-color: $btn-primary-border;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  color: $btn-primary;
  background-color: lighten($btn-primary, 70%);
  border-color: lighten($btn-primary, 60%);
}