
$square-color: darken(green, 60%);
$bar-color: lighten(green, 8%);
$bar-unhighlighted-color: darken(green, 20%);
$backlit-color: lighten(green, 20%);
$bar-width: 12px;
$square-width: 80px;
$square-height: 120px;



