$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
$square-color: darken(green, 60%);
$bar-color: lighten(green, 20%);
$bar-unhighlighted-color: darken(green, 15%);
$bar-width: 12px;
@mixin arrow-up {
  position: absolute;
  top: ($bar-width / -2);
  left: 0;
  right: 0;
  width: 0; 
  height: 0; 
  border-left: ($bar-width / 2) solid transparent;
  border-right: ($bar-width / 2) solid transparent;
  
  border-bottom: ($bar-width / 2) solid $bar-color;
}

@mixin arrow-down {
  position: absolute;
  bottom: ($bar-width / -2);
  left: 0;
  right: 0;
  width: 0; 
  height: 0; 
  border-left: ($bar-width / 2) solid transparent;
  border-right: ($bar-width / 2) solid transparent;
  
  border-top: ($bar-width / 2) solid $bar-color;
}

@mixin arrow-right {
  position: absolute;
  right: ($bar-width / -2);
  top: 0;
  bottom: 0;
  width: 0; 
  height: 0; 
  border-top: ($bar-width / 2) solid transparent;
  border-bottom: ($bar-width / 2) solid transparent;
  
  border-left: ($bar-width / 2) solid $bar-color;
}

@mixin arrow-left {
  position: absolute;
  left: ($bar-width / -2);
  bottom: 0;
  top: 0;
  width: 0; 
  height: 0; 
  border-top: ($bar-width / 2) solid transparent;
  border-bottom: ($bar-width / 2) solid transparent; 
  border-right:($bar-width / 2) solid $bar-color; 
}

.number{

}
$square-width: 80px;
$square-height: 120px;
.square-number{
  background-color: $square-color;
  width: $square-width;
  height: $square-height;
  float: left;
  margin-right: 14px;
  position: relative;

}
.bar{
  background-color: $bar-color;
  position: absolute;
}
.bar-top{
  top: $bar-width;
  left: $bar-width * 2;
  right: $bar-width * 2;
  width: $square-width - $bar-width * 4;
  height: $bar-width;
  &:before{
    content: '';
    @include arrow-left;
  }
  &:after{
    content: '';
    @include arrow-right;
  }
}
.bar-top-left{
  left: $bar-width;
  top: $bar-width * 2;
  height: $square-height / 2 - $bar-width * 2.5;
  width: $bar-width;
  &:before{
    content: '';
    @include arrow-up;
  }
  &:after{
    content: '';
    @include arrow-down;
  }
}
.bar-top-right{
  right: $bar-width;
  top: $bar-width * 2;
  height: $square-height / 2 - $bar-width * 2.5;
  width: $bar-width;
  &:before{
    content: '';
    @include arrow-up;
  }
  &:after{
    content: '';
    @include arrow-down;
  }
}
.bar-middle{
  top: $square-height / 2 - ($bar-width / 2);
  right: $bar-width * 2;
  left: $bar-width * 2;
 
  width: $square-width - $bar-width * 4;
  height: $bar-width;
  &:before{
    content: '';
    @include arrow-left;
  }
  &:after{
    content: '';
    @include arrow-right;
  }
}
.bar-bottom-left{
  left: $bar-width;
  bottom: $bar-width * 2;
  height: $square-height / 2 - $bar-width * 2.5;
  width: $bar-width;
  &:before{
    content: '';
    @include arrow-up;
  }
  &:after{
    content: '';
    @include arrow-down;
  }
}
.bar-bottom-right{
  bottom: $bar-width * 2;
  right: $bar-width;
  height: $square-height / 2 - $bar-width * 2.5;
  width: $bar-width;
  &:before{
    content: '';
    @include arrow-up;
  }
  &:after{
    content: '';
    @include arrow-down;
  }
}
.bar-bottom{
  width: $square-width - $bar-width * 4;
  height: $bar-width;
  bottom: $bar-width;
  right: $bar-width * 2;
  left: $bar-width * 2;
  &:before{
    content: '';
    @include arrow-left;
  }
  &:after{
    content: '';
    @include arrow-right;
  }

}
@mixin horizontal-unhighlighted{
  background-color: $bar-unhighlighted-color;
  &:before{
    border-right-color: $bar-unhighlighted-color;
  }
  &:after{
    border-left-color: $bar-unhighlighted-color;
  }

}
@mixin vertical-unhighlighted{
  background-color: $bar-unhighlighted-color;
  &:after{
        border-top-color: $bar-unhighlighted-color
    }
   &:before{
      border-bottom-color: $bar-unhighlighted-color;
   }
}
.square-number{
  &.square-number-0{
    .bar-middle{ 
       @include horizontal-unhighlighted;
       
    }
  }
  &.square-number-1{
    .bar-top{ 
       @include horizontal-unhighlighted;
    }
    .bar-top-left{ 
       @include vertical-unhighlighted;
    }
    .bar-middle{ 
       @include horizontal-unhighlighted;
    }
    .bar-bottom{ 
       @include horizontal-unhighlighted;
    }
    .bar-bottom-left{ 
       @include vertical-unhighlighted;
    }
  }
  &.square-number-2{
    .bar-top-left{ 
       @include vertical-unhighlighted;
    }
    .bar-bottom-right{ 
       @include vertical-unhighlighted;
    }
  }
  &.square-number-3{
    .bar-top-left{ 
       @include vertical-unhighlighted;
    }
    .bar-bottom-left{ 
       @include vertical-unhighlighted;
    }

  }
  &.square-number-4{
    .bar-bottom{ 
       @include horizontal-unhighlighted;
    }
    .bar-top{ 
       @include horizontal-unhighlighted;
    }
    .bar-bottom-left{ 
       @include vertical-unhighlighted;
    }
  }
  &.square-number-5{
    .bar-top-right{ 
       @include vertical-unhighlighted;
    }
    .bar-bottom-left{ 
       @include vertical-unhighlighted;
    }
  }
  &.square-number-6{
    .bar-top-right{ 
       @include vertical-unhighlighted;
    }
  }
  &.square-number-7{
    .bar-bottom{ 
       @include horizontal-unhighlighted;
    }
    .bar-middle{ 
       @include horizontal-unhighlighted;
    }
    .bar-top-left{ 
       @include vertical-unhighlighted;
    }
    .bar-bottom-left{ 
       @include vertical-unhighlighted;
    }
  }

  &.square-number-9{
    .bar-bottom-left{ 
       @include vertical-unhighlighted;
    }
  }
}






